.nopad-mid{
  padding: 10px 6px;

}

.nopad{
  padding: 4px 6px;
  font-size: 0.8em;
}


.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.divider{
  border-top:1px solid #E5E5E5;
}


.separator{
  display:inline-block;
  padding-right: 5px;
  border-right: 1px solid #E5E5E5;
  width:20%;
  text-align: center;
}
.separator:last-of-type{
  border:none;
}
