<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sms.tsu Beautifier</title>
    <meta charset="utf-8">
	  <!-- This meta is used for bootstrap's responsivity -->
	  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="stylesheet" href="css/bootstrap/css/united.min.css" data-theme="main">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/united.css" data-theme="secondary">
  </head>
  <body>

    <!-- navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- left side of the navbar -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Sms.tsu</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="StudAnk.aspx">ანკეტა</a></li>
          <li class="active"><a href="Cxrilebi.aspx">ცხრილი</a></li>
          <li><a href="http://sms.tsu.ge/sms/Students/Corespondencia/FakultMimowera.aspx">წერილები <span class="badge">3</span></a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">სხვა <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="StudIndCxrili.aspx">ინდივიდუალური ცხრილი</a></li>
              <li><a href="StudBarati.aspx">სასწავლო ბარათი</a></li>
              <li><a href="StudSascProg.aspx">სასწავლო პროგრამა</a></li>
              <li><a href="StudSpec.aspx">სპეციალობათა არჩევა</a></li>
              <li><a href="Corespondencia/FakultMimowera.aspx">კორესპონდენცია</a></li>
            </ul>
          </li>
        </ul>

        <!-- right side of the navbar -->
        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;პროფილი <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="Orders.aspx">ინდ. ადმინისტ. - სამართლებრივი აქტები</a></li>
              <li><a href="ProfileEdit/ChangePassword.aspx">პაროლის შეცვლა</a></li>
              <li><a href="Information/Financial.aspx">გადახდები</a></li>
              <li class="divider"></li>
	            <li><a id="ctl00_LinkButton1" href="javascript:__doPostBack('ctl00$LinkButton1','')">გამოსვლა</a></li>
            </ul>
          </li>

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-cog"></span></a>
            <ul class="dropdown-menu">
              <li>
                <div class="theme-selectors">
	                <div>
		                <a href="#"><span class="icon-square theme-selector-flatly" data-value="flatly"></span></a>
		                <a href="#"><span class="icon-square theme-selector-sandstone" data-value="sandstone"></span></a>
		                <a href="#"><span class="icon-square theme-selector-slate" data-value="slate"></span></a>
		                <a href="#"><span class="icon-square theme-selector-united theme-selected" data-value="united"></span></a>
	                </div>
                </div>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </nav>

    <div class="container">

      <div class="row">
        <!-- COLUMN -->
        <div class="col-xs-2">
          <span class="text-center">
            <h4>ორშაბათი</h4>
          </span>

          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading nopad">
                  <span class="separator">202</span>
                  <span class="separator">2</span>
                  <span class="separator">XI</span>
                </div>
                <div class="panel-body nopad-mid truncate">ინფორმაციის მოძიება და დამუშავება</div>
                <div class="nopad upper-divider fix-overflow" >
                  <span class="pull-left">13:00 - 14:00</span>
                  <span class="pull-right">ლექცია</span>
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading nopad">
                  <span class="separator">202</span>
                  <span class="separator">2</span>
                  <span class="separator">XI</span>
                </div>
                <div class="panel-body nopad-mid truncate">ინფორმაციის მოძიება და დამუშავება</div>
                <div class="nopad upper-divider fix-overflow" >
                  <span class="pull-left">13:00 - 14:00</span>
                  <span class="pull-right">ლექცია</span>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- END OF COLUMN -->

        <!-- COLUMN -->
        <div class="col-xs-2">
          <span class="text-center">
            <h4>სამშაბათი</h4>
          </span>

          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading nopad">
                  <span class="separator">202</span>
                  <span class="separator">2</span>
                  <span class="separator">XI</span>
                </div>
                <div class="panel-body nopad-mid truncate">ინფორმაციის მოძიება და დამუშავება</div>
                <div class="nopad upper-divider fix-overflow" >
                  <span class="pull-left">13:00 - 14:00</span>
                  <span class="pull-right">ლექცია</span>
                </div>
              </div>
            </div>

	          <!-- TODO: trolface location -->
            <div class="col-xs-12" style="margin-top:-20px;">
              <img src="img/l_trollface_55x18.png" alt="trollface">
              <div class="panel panel-default collision">
                <!-- Default panel contents -->
                <div class="panel-heading nopad">
                  <span class="separator">202</span>
                  <span class="separator">2</span>
                  <span class="separator">XI</span>
                </div>
                <div class="panel-body nopad-mid truncate">ინფორმაციის მოძიება და დამუშავება</div>
                <div class="nopad upper-divider fix-overflow" >
                  <span class="pull-left">13:00 - 14:00</span>
                  <span class="pull-right">ლექცია</span>
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="panel panel-default collision">
                <!-- Default panel contents -->
                <div class="panel-heading nopad">
                  <span class="separator">202</span>
                  <span class="separator">2</span>
                  <span class="separator">XI</span>
                </div>
                <div class="panel-body nopad-mid truncate">ინფორმაციის მოძიება და დამუშავება</div>
                <div class="nopad upper-divider fix-overflow" >
                  <span class="pull-left">13:00 - 14:00</span>
                  <span class="pull-right">ლექცია</span>
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading nopad">
                  <span class="separator">202</span>
                  <span class="separator">2</span>
                  <span class="separator">XI</span>
                </div>
                <div class="panel-body nopad-mid truncate">ინფორმაციის მოძიება და დამუშავება</div>
                <div class="nopad upper-divider fix-overflow" >
                  <span class="pull-left">13:00 - 14:00</span>
                  <span class="pull-right">ლექცია</span>
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading nopad">
                  <span class="separator">202</span>
                  <span class="separator">2</span>
                  <span class="separator">XI</span>
                </div>
                <div class="panel-body nopad-mid truncate">ინფორმაციის მოძიება და დამუშავება</div>
                <div class="nopad upper-divider fix-overflow" >
                  <span class="pull-left">13:00 - 14:00</span>
                  <span class="pull-right">ლექცია</span>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- END OF COLUMN -->

        <!-- COLUMN -->
        <div class="col-xs-2">
          <span class="text-center">
            <h4>ოთხშაბათი</h4>
          </span>
          <div class="row">
            <div class="col-xs-12 crazy">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading nopad">
                  <span class="separator invis"></span>
                  <span class="separator invis"></span>
                  <span class="separator invis"></span>
                </div>
                <div class="panel-body nopad-mid truncate">
	                <img src="img/deadface.png" alt="forever-alone" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </div> <!-- END OF COLUMN -->

        <!--</div>-->

        <!-- COLUMN -->
        <div class="col-xs-2">
          <span class="text-center">
            <h4>ხუთშაბათი</h4>
          </span>

          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading nopad">
                  <span class="separator">202</span>
                  <span class="separator">2</span>
                  <span class="separator">XI</span>
                </div>
                <div class="panel-body nopad-mid truncate">ინფორმაციის მოძიება და დამუშავება</div>
                <div class="nopad upper-divider fix-overflow" >
                  <span class="pull-left">13:00 - 14:00</span>
                  <span class="pull-right">ლექცია</span>
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading nopad">
                  <span class="separator">202</span>
                  <span class="separator">2</span>
                  <span class="separator">XI</span>
                </div>
                <div class="panel-body nopad-mid truncate">ინფორმაციის მოძიება და დამუშავება</div>
                <div class="nopad upper-divider fix-overflow" >
                  <span class="pull-left">13:00 - 14:00</span>
                  <span class="pull-right">ლექცია</span>
                </div>
              </div>
            </div>

          </div>
        </div> <!-- END OF COLUMN -->

        <!-- COLUMN -->
        <div class="col-xs-2">
          <span class="text-center">
            <h4>პარასკევი</h4>
          </span>

          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading nopad">
                  <span class="separator">202</span>
                  <span class="separator">2</span>
                  <span class="separator">XI</span>
                </div>
                <div class="panel-body nopad-mid truncate">ინფორმაციის მოძიება და დამუშავება</div>
                <div class="nopad upper-divider fix-overflow" >
                  <span class="pull-left">13:00 - 14:00</span>
                  <span class="pull-right">ლექცია</span>
                </div>
              </div>
            </div>


            <div class="col-xs-12">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading nopad">
                  <span class="separator">202</span>
                  <span class="separator">2</span>
                  <span class="separator">XI</span>
                </div>
                <div class="panel-body nopad-mid truncate">ინფორმაციის მოძიება და დამუშავება</div>
                <div class="nopad upper-divider fix-overflow" >
                  <span class="pull-left">13:00 - 14:00</span>
                  <span class="pull-right">ლექცია</span>
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading nopad">
                  <span class="separator">202</span>
                  <span class="separator">2</span>
                  <span class="separator">XI</span>
                </div>
                <div class="panel-body nopad-mid truncate">ინფორმაციის მოძიება და დამუშავება</div>
                <div class="nopad upper-divider fix-overflow" >
                  <span class="pull-left">13:00 - 14:00</span>
                  <span class="pull-right">ლექცია</span>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- END OF COLUMN -->

	      <!-- COLUMN -->
	      <div class="col-xs-2">
		      <span class="text-center">
			      <h4>პარასკევი</h4>
		      </span>
		      <div class="row">
			      <div class="col-xs-12 crazy">
				      <div class="panel panel-default">
					      <!-- Default panel contents -->
					      <div class="panel-heading nopad">
						      <span class="separator invis"></span>
						      <span class="separator invis"></span>
						      <span class="separator invis"></span>
					      </div>
					      <div class="panel-body nopad-mid truncate">
						      <img src="img/deadface.png" alt="forever-alone" class="img-responsive">
					      </div>
				      </div>
			      </div>
		      </div>
	      </div> <!-- END OF COLUMN -->


      </div>
    </div>


    <!-- Latest compiled and minified JavaScript -->
    <script src="js/jquery-2.2.1.min.js"></script>
    <script src="js/3.3.6_bootstrap.min.js"></script>


	  <script>
	      // TODO: extract code
			  $('div.theme-selectors > div').on('click', 'span', function(){
					  $('link[data-theme="main"]').attr('href', 'css/bootstrap/css/' + $(this).data('value') + '.min.css');
					  $('link[data-theme="secondary"]').attr('href', 'css/' + $(this).data('value') + '.css');
			  });
	  </script>
  </body>
</html>
